:root {
	--primary-yellow: hsl(47, 88%, 63%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-grey: hsl(0, 0%, 50%);
	--neutral-black: hsl(0, 0%, 7%);
	--font-weight-600: 600;
	--font-weight-800: 800;
	font-size: 62.5%;
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-yellow);
	font-size: 1.6rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: figtree, arial, sans-serif;
}

.card {
	width: 38.2rem;
	height: 52.1rem;
	background-color: var(--neutral-white);
	padding: 2.3rem;
	border-radius: 2rem;
	box-shadow: 0.9rem 0.9rem black;
	border: 0.2rem solid var(--neutral-grey);
}

#img-holder {
	background-image: url(../img/illustration-article.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 33.6rem;
	height: 20.1rem;
	margin-bottom: 2.2rem;
	border-radius: 2rem;
}

.cta > p {
	display: inline-block;
	background-color: var(--primary-yellow);
	padding: 0.7rem 1.3rem;
	border: none;
	font-size: 1.4rem;
	font-weight: var(--font-weight-800);
	border-radius: 0.5rem;
}

.cta {
	margin-bottom: 1.3rem;
}

article {
	margin-bottom: 2.3rem;
}

h1 {
	font-weight: var(--font-weight-800);
	margin-bottom: 1.7rem;
	color: var(--neutral-black);
	transition: all 100ms ease-in-out;
}

h1:hover {
	color: var(--primary-yellow);
	cursor: pointer;
}

.card-info {
	color: var(--neutral-grey);
	line-height: 2.2rem;
	font-weight: var(--font-weight-600);
}

.published {
	margin-bottom: 1.3rem;
}

.card-footer > img {
	width: 3.3rem;
	height: 3.3rem;
	margin-right: 1.1rem;
}

.card-footer {
	display: flex;
	align-items: center;
}

.card-footer > p {
	font-weight: var(--font-weight-800)
}

@media only screen and (max-width: 37.5rem) {
	.card {
		width: 32.7rem;
		height: 50.1rem;
	}

	#img-holder {
		width: 28.1rem;
		height: 20.1rem;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.card-info {
		line-height: 2rem;
	}
}
